{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",

  /*
   * Better compact formatting
   */
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",

  /*
   * Keeps object/type formatting tighter
   */
  "singleAttributePerLine": false
}
